<% provide(:title, 'Creating Survey') %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <%= form_for(@survey, url: 'save_survey') do |f| %>
        <%= survey_error_messages! %>

      <div class="modal-header">
        <h4 class="modal-title">Add Survey</h4>
      </div>
      <div class="modal-body">

          <%= f.label :title %>
          <%= f.text_field :survey_title %>

          <%= f.label :description %>
          <%= f.text_area :survey_description %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn pull-left" onclick="window.location.href='/survey/index'">
          <span class="btn-label-icon left"><i class="fa fa-times"></i></span>Cancel
        </button>
          <button type="submit" class="btn pull-right" >
          <span class="btn-label-icon left fa fa-save"></span>Next
          </button>
          <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>
