<% provide(:title, 'Survey Answers: ' + @survey.survey_title) %>

<div class="table-header">
  <div class="table-caption">
    <h3 class="m-t-0 m-b-2 font-weight-semibold text-center"><%= @survey.survey_title %></h3>
    <% if @survey.published %>
        <h5 class="m-t-0 m-b-2 font-weight-semibold text-muted text-center"><%= @survey.published_url %></h5>
    <% end %>
    <h5 class="m-t-0 m-b-2 font-weight-semibold text-muted"><%= @survey.survey_description %></h5>
  </div>
</div>

<table class="table table-striped table-bordered">
  <tbody>

<% if !@answers.blank? %>
  <% @answers.each do |validatior_key| %>
      <tr>
        <td>
          <a href="answer_details?survey=<%= @survey.id %>&validator_key=<%= validatior_key %>" >
            <div class="form-group">
              <div class="widget-notifications-title"><b><strong>Answer key: </strong></b><%= validatior_key %></div>
            </div>
          </a>
        </td>
      </tr>
  <% end %>
<% else %>
      <tr>
        <td>
          <h3 class="text-center m-a-0">There are no Answers yet</h3>
        </td>
      </tr>

  <% end %>
  </tbody>
</table>