<% provide(:title, 'Survey: ' + @survey.survey_title) %>

<% if @survey.published %>
    <div class="alert alert-info">
      <strong>Published!</strong> This survey was published and cannot be edit.
      To see the answers <a href="/survey/answers?survey_id=<%= @survey.id %>"> click me </a>
    </div>
<% end %>

<% if @can_publish && @can_manage %>
<div class="panel-heading-controls pull-left">
  <a href="#" id="publish" data-id="<%= @survey.id %>" class="btn btn-primary btn-lg">Publish Survey</a>
</div>
<% end %>

<% if @can_manage %>
<div class="panel-heading-controls pull-right">
  <a href="/question/add_question?survey_id=<%= @survey.id %>" class="btn btn-primary btn-lg">Add Question</a>
</div>
<% end %>
<div class="col-xs-12 ">
  <div class="table-header">
    <div class="table-caption">
      <h3 class="m-t-0 m-b-2 font-weight-semibold text-center"><%= @survey.survey_title %></h3>
      <% if @survey.published %>
          <h5 class="m-t-0 m-b-2 font-weight-semibold text-muted text-center">
            <b><strong>External Link: </strong></b>
            <a href="<%= root_url+'online-survey?survey='+@survey.id.to_s %>"> <%= root_url+'online-survey?survey='+@survey.id.to_s %> </a>
          </h5>
    <% end %>
      <h5 class="m-t-0 m-b-2 font-weight-semibold text-muted"><%= @survey.survey_description %></h5>
    </div>
  </div>

  <table class="table table-striped table-bordered" id="sortable-3">
    <tbody>
    <% if !@survey.survey_questions.blank? %>
        <% @survey.survey_questions.each_with_index do |question, index| %>
            <tr>
              <td>
                <div class="widget-notifications-item">
                  <div class="widget-notifications-title"><b><strong>Q<%= index+1 %></strong></b>: <%= question.question_text %></div>
                    <%= render partial: question.question_type, locals: {question: question} %>
                    <% if @can_manage %>
                      <div class="panel-heading-controls pull-right">
                        <%= link_to 'Delete',url_for(:controller => 'question', :action => 'delete', id: question.id, survey_id: @survey.id),method: :delete, data: {confirm: "Are you sure?"} %>
                      </div>
                    <% end %>
                </div>
              </td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td>
            <h3 class="text-center m-a-0">There are no questions</h3>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">

    $('#publish').on('click', function () {
        $.ajax({
            type: "POST",
            url: "/survey/publish",
            data: { survey_id: $(this).attr('data-id') },
            dataType: "json"
        }).done(function (msg) {
            if (msg.status) {
                window.location = msg.html;
            } else {
                window.location.reload();
            }
        }).fail(function () {
            window.location.reload();
        });
        return false;
    });

</script>