<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <%= form_for(@question, url: question_save_question_path) do |f| %>
        <%= question_error_messages! %>

    <div class="modal-header">
      <h4 class="modal-title">Add Question</h4>
    </div>
    <div class="modal-body">

      <%= f.label :Question_Text %>
      <%= f.text_area :question_text %>

      <%= f.label :Question_Type %>


      <%= f.select(:question_type) do %>
          <% [
                 ['__select type__', ''],
                 ['Comment/Essay Box', 'textarea'],
                 ['Multiple Choice (Only One Answer)', 'radio'],
                 ['Multiple Choice (Multiple Answers)', 'checkbox'],
                 ['DropDown list (Only One Answer)', 'dropdown']
             ].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
      <% end %>
      <%= f.hidden_field(:survey_id, {:value => @survey_id}) %>

        <div id="question_options">
        </div>
        <a href="javascript:;" id="addNewOption">Add New Option</a>


      <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn pull-left" onclick="window.location.href='/survey/show/<%= @survey_id %>'">
          <span class="btn-label-icon left"><i class="fa fa-times"></i></span>Cancel
      </button>
      <button type="submit" class="btn pull-right "><span class="btn-label-icon left"><i class="fa fa-floppy-o"></i></span>Save</button>
    </div>
    <% end %>
  </div>
</div>

<div style="display: none;" id="new_option_form">
  <% @form = "form" %>
  <%= render partial: @form, locals: {option: false} %>
</div>

<script>
    $( document ).ready(function() {
        type = $("#survey_question_question_type").val()
        if (type == 'textarea' || type =='')
          $("#addNewOption").hide();
        else
          $("#addNewOption").show();
    });

    $("#survey_question_question_type").on("change",function() {
        switch($(this).val()){
            case 'radio':
            case 'checkbox':
            case 'dropdown':
                $("#addNewOption").show();
                break;
            default:
                $("#addNewOption").hide();
                $("#question_options").html('');
                break;
        }
    });
    $("#addNewOption").on("click", function() {
        $("#question_options").append($("#new_option_form").html());
    });

    function removeOption(element) {
        return element.parent().remove();
    };
</script>
