<% provide(:title, 'Survey: ' + @survey.survey_title) %>
<%= @answer %>
<%= @answers %>
<div class="col-xs-12 ">
  <div class="table-header">
    <div class="table-caption">
      <h3 class="m-t-0 m-b-2 font-weight-semibold text-center"><%= @survey.survey_title %></h3>
      <h5 class="m-t-0 m-b-2 font-weight-semibold text-muted"><%= @survey.survey_description %></h5>
    </div>
  </div>
  <%= form_for 'answer/create' do %>
    <table class="table table-striped table-bordered" id="sortable-3">
      <tbody>
          <% @survey.survey_questions.each_with_index do |question, index| %>
              <tr>
                <td>
                  <div class="widget-notifications-item">
                    <div class="widget-notifications-title"><b><strong>Q<%= index+1 %></strong></b>: <%= question.question_text %></div>
                    <%= render partial: question.question_type, locals: {question: question, survey_id: @survey.id} %>
                  </div>
                </td>
              </tr>
          <% end %>
      </tbody>
    </table>
      <div class="modal-footer">
        <button type="submit" class="btn pull-right" >
          <span class="btn-label-icon left fa fa-save"></span>Submit
        </button>
        <div class="clearfix"></div>
      </div>
  <% end %>
</div>